
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

html {
	height: 100%;
	background: linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}
.container {
	
}
body {
	font-family: montserrat, arial, verdana;
}
h2{
	font-size:50px;
	font : bold;
	text-align: center;
}
h4{
	font-size:15px;
}
button{
  margin-top:20px;
  min-width:70%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  background-size: 500% 100%;
  background: rgba(6, 41, 61, 1);
  box-shadow: inset 0 0 0 0 rgba(20, 196, 148, 1);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}
form {
	width: 700px;
	padding : 60px;
	margin: 30px auto;
	text-align: center;
	position: relative;
	background: rgba(0, 90, 120, 0.7);
	border: 4px solid rgba(0, 90, 120, 0.9);
	border-radius: 14px;
}
input{
  font-size: 1.2em;
  text-align:center;
  padding: 20px;
  min-width: 70%;
  height: 20px;
  border-radius: 10px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
}
#chartContainerTemp{
	margin-top:10px;
}
#chartContainerHum{
	margin-top:10px;
}
.col{
  float: left;
  padding: 10px;
}
.row:after {
  text-align:center;
  content: "";
  display: table;
  clear: both;
}
.centerMsg{
	text-align: center;
	position: relative;	
}
.centerDiv{
	text-align: center; 
	position: relative;
}
.marq { 
		text-align:center;
        padding-top:30px; 
        padding-bottom:30px; 
		marquee-speed: fast;
    } 
.head1 { 
        font-size:36px; 
        font-weight:bold; 
        color:gray; 
        padding-bottom:10px; 
    } 
.head2 { 
        font-size:18px; 
        font-weight:bold; 
        color:gray; 
        padding-bottom:10px; 
    } 
